@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}


.container{
    position: relative;
}


.input{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 0;
    padding: 15px;
    font-size: 18px;
    transition: width 0.3s ease;
}

.input:focus{
    outline: none;
}

.btn{
    border-radius: 50px;
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}


.input.active{
    width: 300px;
}